/* Loaded automatically once the licensed PolySans files are in /public/fonts. */
@font-face { font-family: "PolySans"; src: url("./PolySans-Slim.woff2") format("woff2"); font-weight: 300; font-style: normal; font-display: swap; }
@font-face { font-family: "PolySans"; src: url("./PolySans-Neutral.woff2") format("woff2"); font-weight: 400; font-style: normal; font-display: swap; }
@font-face { font-family: "PolySans"; src: url("./PolySans-Median.woff2") format("woff2"); font-weight: 500 600; font-style: normal; font-display: swap; }
@font-face { font-family: "PolySans"; src: url("./PolySans-Bulky.woff2") format("woff2"); font-weight: 700 800; font-style: normal; font-display: swap; }
